{ "ConnectionStringTable":{ "default":"Server=server;Database=database;Uid=user;Pwd=password" }, "DbType":{ "default":"sqlserver" }, "AssemblyList":[ "Wlniao.Model", "XCore" ], "IsCheckDatabase":true, "TablePrefix":"", "ContextCache":true, "ApplicationCache":false, "ApplicationCacheMinutes":0, "ApplicationCacheManager":"", "MetaDLL":"", "Mapping":[  ], "Interceptor":[  ] }