
        *{ margin:0px; padding:0px;}body{width:100%; height:100%;}
        #divForm{width:100%; height:100%; overflow:hidden;}
        #divLeft{ height:100%;width:430px;background-color:#ffffff; vertical-align:top; }
        #divRight{height:100%;width:auto;text-align:center; vertical-align:top;}
        .control-title{ height:40px; text-align:center;}
        .control-title h5{ background-color:#f0f0f0; border-bottom:1px solid #dedede; padding:5px;}
        .control-group{ clear:both;}
        .control-label{ float:left; width:80px; text-align:right; font-size:12px; padding-top:5px;}
        .controls{ float:left; width:270px; text-align:left; min-height:30px;}
        .controls input,.controls textarea,.controls select,.controls option,.controls button{ width:100%; line-height:21px;}
        .form-actions{ text-align:center; clear:both;}
        .btn{ background-color:#E7E7E7; padding:3px 9px; border:1px solid #a0a0a0; font-size:14px; font-family:微软雅黑; color:#666666;}
        .btn.btn-primary{ background-color:#0569CE;color:#fefefe; border:1px solid #471083;}.form-actions .btn:hover{ background-color:#0044CC; border:1px solid #471083;}
        .btnH5{font-size:14px; font-family:微软雅黑; color:#0569CE; text-decoration:none;}.btnH5:hover{ color:#FF5400; text-decoration:underline;}
        
        .wlntable{ width:99%; padding: 0px;margin: 0px auto; text-align:center;border-collapse:collapse;font-family:Arial, Tahoma, Verdana, Sans-Serif,宋体;border-top:1px solid #cccccc;border-left:1px solid #cccccc;}
        .wlntable td {font-size:12px;padding:2px 1px; border-bottom:1px solid #aaaaaa; border-right:1px solid #cccccc;word-break:break-all;word-wrap:break-word;white-space:normal;}
        .wlntable td.cell{ padding:5px 1px;}
        .wlntable td a{ text-decoration:none; }

