{ "ConnectionStringTable":{ "default":"Server=127.0.0.1;Database=weback;Uid=root;Pwd=root" }, "DbType":{ "default":"mysql" }, "AssemblyList":[ "Wlniao.Model", "XCore" ], "IsCheckDatabase":true, "TablePrefix":"", "ContextCache":true, "ApplicationCache":false, "ApplicationCacheMinutes":0, "ApplicationCacheManager":"", "MetaDLL":"", "Mapping":[  ], "Interceptor":[  ] }