<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataUrl" value=""/>
    <add key="AppClientId" value=""/>
    <add key="AppSercet" value=""/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="49600" executionTimeout="500"/>
    <!--<sessionState mode="Custom" customProvider="XCoreSessionProvider">
            <providers>
                <add name="XCoreSessionProvider" type="System.XCoreSessionStateStore" />
            </providers>
        </sessionState>-->
    <compilation debug="true" targetFramework="4.0"/>
    <!--<httpRuntime requestValidationMode="2.0"/>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>